.arrow-button {
  background-color: transparent;
  border: none;
}

.main {
  flex-direction: column;
  margin: 0px;
  justify-content: unset;
}

.main-top {
  justify-content: start;
  z-index: 1;
}

.main-middle {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.title {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 20px;
  margin-bottom: 20x;
  margin-top: 20px;
}

.actions-board {
  background-color:rgb(60, 42, 16);
  height: 500px;
  width: 900px;
  margin-bottom: 30px;
}

.page-title {
  display:flex ;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  margin-top: -1px;
  font-size: 20px;
  width: 200px;
  height: 30px;
  color: rgb(184, 146, 59);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icon-button,
.icon-button-last {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 10px;
  height: 55px;
  width: 55px;
  background-color: black;
  border: 10px yellow;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.icon-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  height: 15px;
  width: 15px;
  margin-left: 35px;
}

.icon-button-style {
  height: 35px;
  width: 35px;
}

.icon-button-play {
  height: 20px;
  width: 20px;
  margin-left: 20px;
}

