.hidden {
  display: none;
}

.blur {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 111;
  background-color: gray;
  background-color: rgba(128, 128, 128, 0.6);
  backdrop-filter: blur(2px);
}

.message {
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  width: auto;
  position: relative;
  max-width: 800px;
  height: auto;
  padding: 55px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  word-wrap: break-word;
}

.close-button-img {
  width: 40px;

}

.close-button {
  margin-top: 30px;
  background-color: transparent;
  border: none;
}

.close-text {
  margin: 0px;

}


.blur-warn {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 111;
  background-color: gray;
  background-color: rgba(128, 128, 128, 0.6);
  backdrop-filter: blur(2px);
}

.message-warn {
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  width: auto;
  height: auto;
  padding: 55px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  word-wrap: break-word;
}

.mobile-warning  {
  display: none;
}
