.hidden {
  display: none;
}

.blur-warn {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 111;
  background-color: gray;
  background-color: rgba(128, 128, 128, 0.6);
  backdrop-filter: blur(2px);
}

.message-warn {
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  width: auto;
  height: auto;
  padding: 55px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  word-wrap: break-word;
}

.mobile-warning  {
  display: none;
}

@media (max-width: 768px) {
  .mobile-warning {
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .main {
    display: none;
  }

  .header-container{
    width: auto;
  }
  
  .header-right {
    display: none;
  }

  .message-text {
    margin-bottom: 15px;
  }

  .go-back {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 120px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(238, 232, 215);
    background-color: rgb(50, 39, 13);
    border-radius: 50%;
    border: 2px solid rgb(162, 125, 30);
    
    text-decoration: none;
  }
  
  .link {
    text-decoration: none;
  }

}

.visible {
  opacity: 0.5;
}

button {
  -webkit-tap-highlight-color: transparent; /* Remove blue background on tap */
  outline: none; /* Remove focus outline */
}
